= form_for @van do |f|
  = f.label :make
  = f.text_field :make
  = f.label :model
  = f.text_field :model
  = f.label :tags
  = f.text_field :tags, value: ( @van.tags.present? ? @van.tags.to_a.join( ', ' ) : '' )
  = f.submit
