%table
  %thead
    = render partial: 'van_head_row'
  %tbody
    - @vans.each do |van|
      = render partial: 'van_row', locals: { van: van }
.van-search
  = form_tag [ :tags, 'vans' ], method: :get do
    = label_tag :tags, 'Tags:'
    = text_field_tag :tags
    = submit_tag 'Search'
